div.card-container{
  width: 20em;
  height:6em;
  margin:2em auto;
  box-style: border-box;}

.card-container div.backsplash{
  position:absolute;
  top:1.5em;
  left:0;
  right:0;
  bottom:0;
  z-index:0;
  background-color: #413E4A;}

.card-container div.portrait-container{
  position:absolute;
  left:.5em;
  bottom:.5em;
  width:5em;
  height:5em;
  border-radius:2.5em;
  background-color:#B38184;
  overflow:hidden;}

  .portrait-container .portrait svg{
    width:5em;
    height:5em;
    padding-top:.5em;
  }

  .portrait-container .name{
    color:white;}

.card-container div.info-container{
  position:absolute;
  color:white;
  bottom:0;
  right:0;
  left:6em;
  height:3em;}

  .info-container .points{
    color:white;}



