nav{
  padding:1em 0;
  text-align:center;}

nav li.circle{
  transition: all 200ms linear;
  background-color: $circleBackground;
  height:2.5em;
  width:7em;
  border-radius:2px;
  display:inline-block;
  margin:0 1em;}

  nav li.circle:hover{
    background-color: $circleBackgroundActive; }

nav li.circle a{
  transition: all 200ms linear;
  display:block;
  line-height:2.5em;
  width:7em;
  color:white;}

  nav li.circle:hover a{
    color:white;}
