nav{
  padding:3em 0;
  text-align:center;}

nav li.circle{
  transition: all 200ms linear;
  background-color:rgba(35, 68, 64, .6);
  height:4em;
  width:4em;
  border-radius:2em;
  display:inline-block;
  line-height: 4em;
  margin:0 -.2em;}

  nav li.circle:hover{
    background-color:rgba(35, 68, 64, .85); }

nav li.circle a{
  transition: all 200ms linear;
  color:#EAF1DA;}

  nav li.circle:hover a{
    color:white;
  }
