body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight:normal;
  color: $text;
  background-color: $background;
  margin: 0; }

a {
  text-decoration: none;
  color: $darkAnchor; }

a:hover {
  cursor: pointer; }

h1, h2, h3 {
  font-weight:normal; 
  margin: 0;}

h1 {
  font-size: 2em; 
  color: $grey;}

h2, h3 {
  text-align:left;}

p {
  font-size: 1em;
  padding: 0; 
  margin:0;}

ul{
  list-style:none;
  margin:0;
  border:0;
  padding:0;}

div{
  margin:0;
  border:0;
  padding:0;}

div#centering-wrapper {
  margin: 1em auto 0 auto;
  width:90%; 
  max-width:800px;
  position: relative;}

div{
  position:relative;}

main{
  width:40em;
  margin:0 auto;
  box-sizing:border-box;
  border:0;
  padding:1em;
  min-height:5em;}

  main h3{
  margin:1em auto;}

table{
  text-align: left;}

table th{
  color:$rose;}

table td{
  padding-right:1em;}

table tr:nth-child(even) td{
  background: $cream;}

main.home p {
  padding:.3em 0;
}

main.home p span{
  color:$dusk;
  background:#c9c5bd;
  padding:.25em 1em;
  border-radius:2px;
  font-family:Courier, monospace;
}

main.home ul{
  list-style-type:circle;
  list-style-position: inside;
}
