header{
  text-align: center;
  overflow: hidden;}

h1.main-title{
  display:inline-block;
/*  height:6em;
  width:6em;
  border-radius: 3em;
  background: $teal;*/
  color:#73626E;
  font-size:1.5em;
  line-height:4em;}