  .member-card{
    width:100%;
    background:#413E4A;
    color:white;
    padding:1em;
    margin:1em auto;
    border-radius:2px;
    box-sizing:border-box;}

    .member-card a{
      color: #F0B49E;}

  .member-card p span.rating-tuple{
    background-color:#73626E;
    padding:0 .25em;
    margin-right:.25em;
    border-radius:2px;  }
  .member-card p span.rating-value{
    color:#F7E4BE;  }