  .member-card{
    width:100%;
    background: $cardBackground;
    color:white;
    padding:1em;
    margin:1em auto;
    border-radius:2px;
    box-sizing:border-box;}

    .member-card a{
      color: #F0B49E;}

  .member-card p a.name{
    font-size:1.5em;
    display:inline-block;
    padding: 0 0.5em 1em 0;
  }

  .member-card p span.rating-tuple{
    background-color: $cardBackgroundSpotlight;
    padding:0 .25em;
    margin-right:.25em;
    border-radius:2px;  }
  .member-card p span.rating-value{
    color:$cardTextEmphasis;  }