main.recommendation{
  width:22em;}

main.recommendation h3{
  text-align: left;}

.search-container{
  padding:1em 0;}
  
.search-container input[type="text"]{
  width:100%;
  padding:.5em 0;
  text-indent:1em;}