<main>
  <h2>Roster</h2>
  <div class="member-card" data-ng-repeat="member in members">
    <p><a href="/#/members/{{ member.memberId }}" class="name">{{ member.name }} </a>({{member.memberId}})</p>

    <p>Points</p>
    <p>{{member.stats.points}}</p>

    <p>Ratings</p>
    <p>
      <span class="rating-tuple" data-ng-repeat="(id, rating) in member.stats.ratings">
        {{ id }} : <span class="rating-value">{{rating}}</span>
      </span>
    </p>

    <p>Recs</p>
    <p>
      <span class="rating-tuple" data-ng-repeat="(id, rating) in member.stats.recommendations">
        {{ id }} : <span class="rating-value">{{ rating }}</span>
      </span>
    </p>

  </div>
</main>