<main>
  <h2>Transactions</h2>
  <table>
    <tr>
      <th>Date</th>
      <th>Duration</th>
      <th>Children</th>
      <th>Value</th>
      <th>Provider</th>
      <th>Receiver</th>
    </tr>
    <tr data-ng-repeat="trx in transactions">
      <td>
        <a href="/#/transactions?id={{ trx._id }}">
          {{ trx.startedAt | date : 'medium' }}
        </a>
      </td>
      <td>
        {{ trx.duration }}
      </td>
      <td>
        {{ trx.childrenWatched }}
      </td>
      <td>
        {{ trx.duration * trx.childrenWatched }}
      </td>
      <td>
        <a href="/#/member?id={{ trx.sittingProviderId }}">
          {{ trx.sittingProviderId }}
        </a>
      </td>
      <td>
        <a href="/#/member?id={{ trx.sittingReceiverId }}">
          {{ trx.sittingReceiverId }}
        </a>
      </td>
    </tr>
  </table>
</main>
